.logon-container{

    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex; /* deixa os itens ao lado do outro, a não ser q seja usado tbm a função flex-direction:;*/
    align-items: center; /*centraliza os objetos verticalmente*/
    justify-content: center;/*centraliza os objetos horizontalmente*/

}

.logon-container section.form{

    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form{
margin-top: 100px;

}

.logon-container section.form form h1{
font-size: 33px;
margin-bottom: 32px;

}




 